<nav class="mt-3 mb-3">
    <a class="btn btn-secondary" role="button" href="#">cloud</a>
    <a class="btn btn-secondary" role="button" href="{{route('albums')}}">albums</a>
    <a class="btn btn-secondary" role="button" href="">paramètres</a>
    <a class="btn btn-danger" role="button" href="{{route('logout')}}">Se déconnecter</a>
</nav>